#plan{
    font-size:20px;
    font-family: monospace;
}
#department{
    font-size:10px;
    font-family: sans-serif
}

img{
    float:left;
}

.field{
    font-size:10px;
}

table,tr,td{
    border: 1px solid black;
    border-collapse: collapse;
    width:100%
}

button{
    float: right;
}