img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:100px;
}
div#menu{
    display:block;
    width:50%;
    position:center;
    text-decoration:none;
    margin-left:auto;
    margin-right:auto;
}

ul{
    text-align:center;
}

a{
    text-decoration:none;
    color:lightskyblue;
}